# Discord
discord.py==2.6.3

# Reprodutor de áudio (YouTube)
yt-dlp==2025.9.13
ffmpeg-python==0.2.0

# Spotify API
spotipy==2.25.1

# Variáveis de ambiente
python-dotenv==1.0.1

# Requisições HTTP
requests==2.31.0

# Async HTTP usado pelo discord.py
aiohttp==3.9.4

# Suporte a voz no Discord
PyNaCl==1.5.0
